<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ImgShare</title>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="/public/css/Fonts.css">
    {{!-- Custom css --}}
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/public/img/imgshare-logo.png" alt="ImgShare">
            </a>
        </div>
    </nav>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
    {{!-- Script Jquery --}}
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    {{!-- Custom Script --}}
    <script src="/public/js/scripts.js"></script>
</body>
</html>